/*
  The current user's messages should have:
  - a text color of #FFF
  - a background color of #1185f7

  Other participant's messages should have:
  - a text color of #000
  - a background color of #e9e9eb
*/
.chat-sent-message {
  flex: 1;
  color: #000;
  background-color: #e9e9eb;
  border: 1px solid #e9e9eb;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  flex-direction: flex-end;
}

img {
  border-radius: 50%;
}
